@import "../../globals.scss";

.input {
	margin: $form-control-margin;
	padding: $form-control-padding;
	height: $form-control-height;

	input {
		font-family: $font-family-default;
		font-size: $font-size-default;
		color: $gray;
		height: 100%;
		text-overflow: ellipsis;
		box-sizing: border-box;

		border: $base-unit solid lighten($gray, 20%);

		padding: $input-padding;
		min-width: $form-control-width;

		@include placeholder() {
			color: $gray;
			opacity: $opacity-placeholder;
		}

		&:focus {
			opacity: $opacity-default;
			outline: none;
			border: $base-unit solid lighten($gray, 30%);
			text-overflow: clip;

			@include placeholder() {
				color: transparent;
			}
		}

		@include respond-to($handhelds) {
			width: 100% !important;
		}
	}

	&_invalid input {
		border-color: $red;

		&:focus {
			box-shadow: 0 0 0 1 * $base-unit $red;
		}
	}

	&_valid input {
		border-color: $green;

		&:focus {
			box-shadow: 0 0 0 1 * $base-unit $green;
		}
	}
}
