body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f8;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

.input {
  margin: 1.8px;
  padding: 3.6px;
  height: 31.5px; }
  .input input {
    font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
    font-size: 15px;
    color: #5A6978;
    height: 100%;
    text-overflow: ellipsis;
    box-sizing: border-box;
    border: 0.9px solid #8e9caa;
    padding: 4.5px 18px;
    min-width: 315px; }
    .input input::-moz-placeholder {
      color: #5A6978;
      opacity: 0.5; }
    .input input::-webkit-input-placeholder {
      color: #5A6978;
      opacity: 0.5; }
    .input input:-ms-input-placeholder {
      color: #5A6978;
      opacity: 0.5; }
    .input input:-moz-placeholder {
      color: #5A6978;
      opacity: 0.5; }
    .input input:focus {
      opacity: 1;
      outline: none;
      border: 0.9px solid #abb6c0;
      text-overflow: clip; }
      .input input:focus::-moz-placeholder {
        color: transparent; }
      .input input:focus::-webkit-input-placeholder {
        color: transparent; }
      .input input:focus:-ms-input-placeholder {
        color: transparent; }
      .input input:focus:-moz-placeholder {
        color: transparent; }
    @media only screen and (max-width: 725px) {
      .input input {
        width: 100% !important; } }
  .input_invalid input {
    border-color: #DA7666; }
    .input_invalid input:focus {
      box-shadow: 0 0 0 0.9px #DA7666; }
  .input_valid input {
    border-color: #549F5D; }
    .input_valid input:focus {
      box-shadow: 0 0 0 0.9px #549F5D; }
