body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f8;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

a {
  color: #9ca9b5;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: #343F4B; }

.tooltip {
  position: absolute;
  box-sizing: border-box;
  left: 30%;
  margin-top: 3.6px;
  z-index: 10001;
  padding: 4.5px 36px;
  width: 360px;
  border: 1.8px solid #DA7666;
  border-radius: 4.5px;
  background-color: #f8e4e1; }
  .tooltip__arrow {
    position: absolute;
    left: 170.55px;
    top: -9.45px;
    z-index: 10002;
    height: 13.5px;
    width: 13.5px;
    background-color: #f8e4e1;
    border-right: 1.8px solid #DA7666;
    border-top: 1.8px solid #DA7666;
    transform: rotate(-45deg); }
  .tooltip__text {
    color: #DA7666;
    font-weight: 700; }
  @media only screen and (max-width: 725px) {
    .tooltip {
      width: 100%;
      left: 0; }
      .tooltip__arrow {
        left: 50%; } }
