body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f8;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

a {
  color: #9ca9b5;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: #343F4B; }

.layout-login {
  background-color: #343F4B;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px; }
  .layout-login__outer {
    z-index: 1;
    background-color: #5A6978;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 60px;
    width: 495px; }
  .layout-login__inner {
    background-color: white;
    color: #343F4B; }
  .layout-login__logo {
    background: #FF9052 no-repeat center;
    background-size: contain;
    height: 50px;
    border: 5px solid #FF9052;
    border-top-width: 11px;
    cursor: pointer; }
  .layout-login__content {
    text-align: center; }
