@import "../../globals.scss";


.character {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15 * $base-unit;
	margin: 5 * $base-unit;
	user-select: none;
	cursor: pointer;
	position: relative;
	width: 100 * $base-unit;
	text-align: center;

	&:hover {
		background-color: $light-hover;
	}

	&__avatar {
		padding-bottom: 10 * $base-unit;

		> .avatar > * {
			height: 80 * $base-unit;
			width: 80 * $base-unit;
		}
	}

	&__actions {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		position: absolute;
		top: 7 * $base-unit;
		font-size: 20 * $base-unit;
		width: 55%;

		&__favorite {
			font-size: 120%;
			text-shadow: 0 0 1 * $base-unit $gray;
			opacity: 0.2;

			&:hover {
				opacity: 0.5;
			}

			&_true {
				color: $yellow;
				opacity: 1;

				&:hover {
					opacity: 0.8;
				}
			}
		}

		&__online {
			margin-right: 4 * $base-unit;
			font-size: 80%;
			color: $light-green;
			visibility: hidden;

			&_true {
				visibility: visible;
			}
		}
	}
}
