body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f8;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

a {
  color: #9ca9b5;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: #343F4B; }

.character {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 13.5px;
  margin: 4.5px;
  user-select: none;
  cursor: pointer;
  position: relative;
  width: 90px;
  text-align: center; }
  .character:hover {
    background-color: #fafafb; }
  .character_add .character__name {
    opacity: 0.5; }
  .character_add i {
    color: #549F5D;
    font-size: 45px;
    position: absolute;
    left: 0;
    right: 0;
    top: 27px; }
  .character__avatar {
    padding-bottom: 9px; }
    .character__avatar > .avatar > * {
      height: 72px;
      width: 72px; }
  .character__name__highlight {
    background-color: #F7E03E;
    box-shadow: 0 0 0.9px #5A6978; }
  .character__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 6.3px;
    font-size: 18px;
    width: 55%; }
    .character__actions__favorite {
      font-size: 120%;
      text-shadow: 0 0 0.9px #5A6978;
      opacity: 0.2; }
      .character__actions__favorite:hover {
        opacity: 0.5; }
      .character__actions__favorite_true {
        color: #F7E03E;
        opacity: 1; }
        .character__actions__favorite_true:hover {
          opacity: 0.8; }
    .character__actions__online {
      margin-right: 3.6px;
      font-size: 80%;
      color: #73BD7C;
      visibility: hidden;
      text-shadow: 0 0 0.9px #5A6978; }
      .character__actions__online_true {
        visibility: visible; }
