@import "../../globals.scss";


.page-settings .page__content .big-form {
	padding-right: 50 * $base-unit;

	@include respond-to($handhelds) {
		padding-right: 0;
	}
}

.sessions {
	overflow: hidden;
	padding-top: 15 * $base-unit;
	padding-bottom: 15 * $base-unit;

	&__expand {
		display: none;
	}

	&_short {
		position: relative;
		height: 200 * $base-unit;
		width: 100%;

		.sessions__expand {
			display: block !important;
			position: absolute;
			width: 100%;
			top: 210 * $base-unit;;
			text-align: center;
			z-index: 110;
			font-weight: $font-weight-button;
			text-decoration: underline;
			cursor: pointer;
			color: lighten($gray, 35%);

			&:hover {
				color: lighten($gray, 25%);
				text-decoration: none;
			}
		}

		.sessions__shadow {
			position: absolute;
			height: 100%;
			width: 100%;
			box-shadow: inset 0 -100 * $base-unit 70 * $base-unit -50 * $base-unit $white;
			z-index: 100;
			pointer-events: none;
		}

		.sessions__list {
			position: absolute;
			width: 100%;
			min-height: 500 * $base-unit;
			z-index: 99;
		}
	}

	&__wrapper {
		padding-top: 30 * $base-unit;
		padding-bottom: 40 * $base-unit;
	}
}

.session {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 20 * $base-unit;

	&__title {
		font-weight: $font-weight-button;
	}

	&__date {
		text-align: right;
	}
}
