@import "../../globals.scss";


$menu-width: 220 * $base-unit;
$menu-item-height: 30 * $base-unit;
$strip-width: 0; //10 * $base-unit;


.menu {
	justify-content: center;
	display: flex;
	flex-direction: row;
	position: absolute;

	&__strip {
		width: $strip-width;
		background-color: $black;
	}

	&__links {
		width: $menu-width - $strip-width;
		background-color: $light;
		box-sizing: border-box;
		transition: width $transition-default,
					color $transition-default;
		border-top: $border-default;
		border-right: $border-default;
	}

	&__content {
		border-top: $border-default;
		background-color: $white;
		color: $gray;
		box-sizing: border-box;
		flex: 1;
		padding: 0;
	}

	&__item {
		display: flex;
		flex-direction: row;
		padding: 5 * $base-unit 20 * $base-unit;
		cursor: pointer;
		text-decoration: none;
		color: $gray;
		height: $menu-item-height;
		line-height: $menu-item-height;

		&__icon {
			position: relative;
			flex: 1;
			min-width: 20 * $base-unit;
			max-width: 20 * $base-unit;
			text-align: center;
			padding-right: 15 * $base-unit;

			&__counter {
				display: none;
			}
		}

		&__text {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			&__counter {
				font-size: $font-size-small;
				height: 24 * $base-unit;
				width: 28 * $base-unit;
				text-align: center;
				line-height: 24 * $base-unit;
				border-radius: $border-radius;
				margin-right: -14 * $base-unit;

				background-color: $red;
				color: $white;
			}
		}

		&_grayed {
			opacity: $opacity-placeholder;

			&:hover {
				background-color: $light !important;
			}
		}

		&:hover {
			background-color: lighten($light, 4%);
		}

		&_selected {
			background-color: $gray;
			color: $light;

			&:hover {
				background-color: $gray;
				color: $light;
			}
		}
	}

	@include respond-to($desktop) {
		width: $layout-width;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;

		&__strip {
			display: none;
		}

		&__links {
			width: $menu-width;
			border-left: $border-default;
		}

		&__content {
			max-width: $layout-width - $menu-width;
			border-right: $border-default;
		}
	}

	@include respond-to($tablets) {
		left: 0;
		right: 0;
	}

	@include respond-to($handhelds) {
		left: 0;
		right: 0;

		.menu__strip {
			display: none;
		}

		.menu__links_absolute {
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: $z-index-menu;
			overflow-x: hidden;
			transition: left $transition-default;
		}

		.menu__links_collapsed {
			left: -$menu-width;
		}

		.menu__links_expanded {
			left: 0;
		}

		.menu__links_small {
			width: $layout-header-burger-size;
			background-color: $black;
			border-top: none;
			border-right: none;

			.menu__item {
				padding: 5 * $base-unit 0;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $light;
				height: $menu-item-height;

				&__text {
					display: none;
				}

				&__icon {
					padding: 0;

					&__counter {
						display: inline-block;
						position: absolute;
						top: -3 * $base-unit;
						right: -13 * $base-unit;
						font-size: $font-size-smallest;
						color: $white;
						background-color: $red;
						width: 18 * $base-unit;
						height: 18 * $base-unit;
						line-height: 18 * $base-unit;
						border-radius: 50%;
					}
				}

				&:hover {
					background-color: $gray;
				}

				&_grayed {
					&:hover {
						background-color: $black !important;
					}
				}
			}
		}
	}
}


.page {
	&__title {
		width: 100%;
		font-size: $font-size-page-title;
		font-weight: $font-weight-title;
		border-bottom: 1 * $base-unit solid darken($light, 5%);
		color: lighten($gray, 5%);
		padding: 20 * $base-unit;
		padding-bottom: 5 * $base-unit;
		padding-right: $page-content-padding;
		padding-left: $page-content-padding;
		margin: 0;
		background-color: lighten($light, 3%);
		box-sizing: border-box;
	}

	&__content {
		padding: 15 * $base-unit $page-content-padding 40 * $base-unit;
		min-height: 400 * $base-unit;
	}
}
