body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f8;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

a {
  color: #9ca9b5;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: #343F4B; }

.menu {
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: absolute; }
  .menu__strip {
    width: 0;
    background-color: #343F4B; }
  .menu__links {
    width: 198px;
    background-color: #F0F1F2;
    box-sizing: border-box;
    transition: width 0.3s ease-in-out, color 0.3s ease-in-out;
    border-top: solid #e5e9ec 0.9px;
    border-right: solid #e5e9ec 0.9px; }
  .menu__content {
    border-top: solid #e5e9ec 0.9px;
    background-color: white;
    color: #5A6978;
    box-sizing: border-box;
    flex: 1;
    padding: 0; }
  .menu__item {
    display: flex;
    flex-direction: row;
    padding: 4.5px 18px;
    cursor: pointer;
    text-decoration: none;
    color: #5A6978;
    height: 27px;
    line-height: 27px; }
    .menu__item__icon {
      position: relative;
      flex: 1;
      min-width: 18px;
      max-width: 18px;
      text-align: center;
      padding-right: 13.5px; }
      .menu__item__icon__counter {
        display: none; }
    .menu__item__text {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .menu__item__text__counter {
        font-size: 12px;
        height: 21.6px;
        width: 25.2px;
        text-align: center;
        line-height: 21.6px;
        border-radius: 4.5px;
        margin-right: -12.6px;
        background-color: #DA7666;
        color: white; }
    .menu__item_grayed {
      opacity: 0.5; }
      .menu__item_grayed:hover {
        background-color: #F0F1F2 !important; }
    .menu__item:hover {
      background-color: #fbfbfb; }
    .menu__item_selected {
      background-color: #5A6978;
      color: #F0F1F2; }
      .menu__item_selected:hover {
        background-color: #5A6978;
        color: #F0F1F2; }
  @media only screen and (min-width: 1026px) {
    .menu {
      width: 900px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
      .menu__strip {
        display: none; }
      .menu__links {
        width: 198px;
        border-left: solid #e5e9ec 0.9px; }
      .menu__content {
        max-width: 702px;
        border-right: solid #e5e9ec 0.9px; } }
  @media only screen and (min-width: 726px) and (max-width: 1025px) {
    .menu {
      left: 0;
      right: 0; } }
  @media only screen and (max-width: 725px) {
    .menu {
      left: 0;
      right: 0; }
      .menu .menu__strip {
        display: none; }
      .menu .menu__links_absolute {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1000;
        overflow-x: hidden;
        transition: left 0.3s ease-in-out; }
      .menu .menu__links_collapsed {
        left: -198px; }
      .menu .menu__links_expanded {
        left: 0; }
      .menu .menu__links_small {
        width: 45px;
        background-color: #343F4B;
        border-top: none;
        border-right: none; }
        .menu .menu__links_small .menu__item {
          padding: 4.5px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #F0F1F2;
          height: 27px; }
          .menu .menu__links_small .menu__item__text {
            display: none; }
          .menu .menu__links_small .menu__item__icon {
            padding: 0; }
            .menu .menu__links_small .menu__item__icon__counter {
              display: inline-block;
              position: absolute;
              top: -2.7px;
              right: -11.7px;
              font-size: 9px;
              color: white;
              background-color: #DA7666;
              width: 16.2px;
              height: 16.2px;
              line-height: 16.2px;
              border-radius: 50%; }
          .menu .menu__links_small .menu__item:hover {
            background-color: #5A6978; }
          .menu .menu__links_small .menu__item_grayed:hover {
            background-color: #343F4B !important; } }

.page__title {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 0.9px solid #e2e4e6;
  color: #657687;
  padding: 18px;
  padding-bottom: 4.5px;
  padding-right: 31.5px;
  padding-left: 31.5px;
  margin: 0;
  background-color: #f8f9f9;
  box-sizing: border-box; }

.page__content {
  padding: 13.5px 31.5px 36px;
  min-height: 360px; }
