body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f8;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

.notification {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 9px; }
  .notification:hover {
    background-color: #fafafb; }
  .notification_unread {
    background-color: #f1f3f4; }
    .notification_unread:hover {
      background-color: #f4f5f7; }
  .notification__text {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .notification__text__title {
      font-weight: 700; }
  .notification__picture__img {
    height: 54px;
    width: 54px;
    background-size: cover;
    border-radius: 50%; }
