@import "../../globals.scss";


.dropdown-control {
	font-family: $font-family-default;
	font-size: $font-size-default;
	font-weight: $font-weight-default;
	background-color: $black;
	color: $white;
	height: $form-control-height + 5 * $base-unit;
	text-overflow: ellipsis;
	box-sizing: border-box;
	z-index: 100;
	position: relative;

	//border: $base-unit solid $gray;
	//border-radius: $border-radius;

	padding: $input-padding;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		cursor: pointer;
		background-color: darken($gray, 10%) !important;
	}

	&:active {
		background-color: $black !important;
	}

	&:focus {
		outline: none;
	}

	&_toggled {
		background-color: lighten($black, 8%) !important;
	}

	&__text_right-arrow {
		padding-right: $input-padding-left-right * 0.7;
	}

	&__text_left-arrow {
		padding-left: $input-padding-left-right * 0.7;
	}

	&_transparent {
		background-color: transparent;
	}
}


.dropdown__items {
	position: absolute;
	background-color: $white;
	box-shadow: 0 0 5 * $base-unit lighten($gray, 10%);
	z-index: 1;
	transition: margin-top 0.3s, opacity 0.3s;
}


.dropdown__item {
	color: $black;
	padding: 10 * $base-unit;
	user-select: none;
	transition: background-color 0.3s;
	box-sizing: border-box;
	cursor: pointer;

	&:hover {
		background-color: lighten($gray, 50%);
	}
}
