body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f8;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

.dropdown-control {
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: #343F4B;
  color: white;
  height: 36px;
  text-overflow: ellipsis;
  box-sizing: border-box;
  z-index: 100;
  position: relative;
  padding: 4.5px 18px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .dropdown-control:hover {
    cursor: pointer;
    background-color: #44505b !important; }
  .dropdown-control:active {
    background-color: #343F4B !important; }
  .dropdown-control:focus {
    outline: none; }
  .dropdown-control_toggled {
    background-color: #455363 !important; }
  .dropdown-control__text_right-arrow {
    padding-right: 12.6px; }
  .dropdown-control__text_left-arrow {
    padding-left: 12.6px; }
  .dropdown-control_transparent {
    background-color: transparent; }

.dropdown__items {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 4.5px #718394;
  z-index: 1;
  transition: margin-top 0.3s, opacity 0.3s; }

.dropdown__item {
  color: #343F4B;
  padding: 9px;
  user-select: none;
  transition: background-color 0.3s;
  box-sizing: border-box;
  cursor: pointer; }
  .dropdown__item:hover {
    background-color: #e5e9ec; }
