@import "../../globals.scss";


.header {
	display: flex;
	flex-direction: row;
	justify-content: center;

	&__wrapper {
		width: $layout-width;
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: $layout-header-total-height;
		transition: height $transition-default;
		background-color: $gray;

		@include respond-to($tablets) {
			width: 100%;
		}

		@include respond-to($handhelds) {
			background-color: $gray;
			width: 100%;
			height: $layout-header-burger-size;
			overflow: hidden;
		}
	}

	&__logo {
		background: $orange no-repeat center;
		background-size: contain;
		height: $layout-header-height;
		width: $layout-logo-width;
		min-width: $layout-logo-width;
		border: $layout-logo-border solid $orange;
		border-top-width: $layout-logo-border + 2 * $base-unit;
		cursor: pointer;
	}

	&__search {
		background-color: $gray;
		flex: 1;
		display: flex;
		align-items: center;
		overflow: visible;
		padding-left: 30 * $base-unit;
		padding-right: 30 * $base-unit;

		input {
			opacity: $opacity-search;
			min-width: 100%;
			width: 100%;
			transition: opacity $transition-default, width $transition-default;

			&:focus {
				min-width: 190 * $base-unit;
				width: 200%;
				opacity: 1;
			}
		}

		i {
			transition: opacity $transition-default;
			margin-left: 10 * $base-unit;

			&:hover {
				background-color: lighten($gray, 4%);
			}

			&:active {
				background-color: darken($gray, 4%);
			}
		}
	}

	&__account {
		width: $layout-account-width;
		background-color: lighten($gray, 10%);
		transition: opacity $transition-default;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		cursor: pointer;
		color: $white;

		&__wrapper {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			padding-left: $layout-account-padding;
			padding-right: $layout-account-padding;
			flex: 1;
			width: 100%;

			&:hover {
				background-color: lighten($gray, 12%);
			}
		}

		&__info {
			display: flex;
			flex-direction: column;
			flex: 1;

			&__username {
				box-sizing: border-box;
				max-width: $layout-account-width - 2 * $layout-account-padding - $layout-avatar-size;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-weight: $font-weight-username;
				padding-right: 0.5 * $layout-account-padding;
			}
		}

		&__logout {
			position: absolute;
			z-index: $z-index-logout;
			top: $layout-header-total-height;
			width: $layout-account-width;
			background-color: lighten($gray, 20%);
			opacity: $opacity-placeholder;
			text-align: center;
			padding-top: 2 * $base-unit;
			padding-bottom: 2 * $base-unit;

			&:hover {
				background-color: lighten($gray, 30%);
			}

			a {
				text-decoration: none;
				color: $white;
			}
		}
	}

	&__account-mobile {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__burger {
		background: $orange no-repeat center;
		height: $layout-header-burger-size;
		width: $layout-header-burger-size;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		i {
			font-size: 150%;
			color: $white;
		}
	}
}
