body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f8;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

a {
  color: #9ca9b5;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: #343F4B; }

@keyframes input-error {
  0% {
    margin-left: 0; }
  25% {
    margin-left: -5%; }
  50% {
    margin-left: 5%; }
  75% {
    margin-left: -2.5%; }
  100% {
    margin-left: 0; } }

.form-field_flexible input {
  min-width: 0 !important;
  width: 100%;
  box-sizing: border-box; }

.form-field_flexible .button {
  text-align: right; }

.form-field_flexible button {
  min-width: 0 !important;
  width: 135px;
  box-sizing: border-box; }
