@import "globals.scss";


.form {

	&__title {
		font-size: $font-size-title;
		font-weight: $font-weight-title;
		color: $font-color-title;
		text-align: center;
	}

	&__desc {
		padding-bottom: 0.5 * $form-block-padding !important;
	}

	&__links {
		color: lighten($gray, 20%);

		> div {
			padding: 5 * $base-unit;
		}

		a {
			color: $gray;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
				color: $black;
			}
		}
	}

	.form-block {
		display: flex;
		flex-direction: column;
		padding-top: $form-block-padding;
		padding-bottom: $form-block-padding;

		&:first-child {
			padding-bottom: 0;
		}

		&:last-child {
			padding-top: 0;
		}
	}
}


.big-form {
	padding-top: 30 * $base-unit;
	padding-bottom: 30 * $base-unit;

	&__field {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		&__title {
			width: 120px;
			padding-right: 20 * $base-unit;
			line-height: $form-control-height + 2 * $input-padding-top-bottom;
			text-align: right;
		}

		.form-field_flexible {
			flex: 1;
			justify-content: flex-end;
		}
	}

}
