body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f8;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

a {
  color: #9ca9b5;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: #343F4B; }

.form__title {
  font-size: 38px;
  font-weight: 400;
  color: #5A6978;
  text-align: center; }

.form__desc {
  padding-bottom: 13.5px !important; }

.form__links {
  color: #8e9caa; }
  .form__links > div {
    padding: 4.5px; }
  .form__links a {
    color: #5A6978;
    text-decoration: underline; }
    .form__links a:hover {
      text-decoration: none;
      color: #343F4B; }

.form .form-block {
  display: flex;
  flex-direction: column;
  padding-top: 27px;
  padding-bottom: 27px; }
  .form .form-block:first-child {
    padding-bottom: 0; }
  .form .form-block:last-child {
    padding-top: 0; }

.big-form {
  padding-top: 27px;
  padding-bottom: 27px; }
  .big-form__field {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .big-form__field__title {
      width: 120px;
      padding-right: 18px;
      line-height: 40.5px;
      text-align: right; }
    .big-form__field .form-field_flexible {
      flex: 1;
      justify-content: flex-end; }
    @media only screen and (max-width: 725px) {
      .big-form__field {
        flex-direction: column; }
        .big-form__field .big-form__field__title {
          text-align: left;
          margin-left: 4.5px; } }
