
$dark-black: #333333;
$black: #343F4B;
$gray: #5A6978;
$orange: #FF9052;
$red: #DA7666;
$green: #549F5D;
$light-gray: #EEEEEE;
$light: #F0F1F2;
$very-light-gray: lighten($gray, 50%);
$white: white;

$opacity-default: 1;
$opacity-hover: 0.8;
$opacity-placeholder: 0.5;
$opacity-notify-box: 0.7;
$opacity-search: 0.3;
$opacity-popup-background: 0.5;

$transition-default: 0.3s ease-in-out;

$z-index-menu: 1000;
$z-index-logout: 1001;
$z-index-popup: 5000;
$z-index-popup-background: 5000;
$z-index-notify: 10000;
$z-index-tooltip: 10001;
$z-index-notify-box: 10002;

$font-family-default: "Open Sans", Helvetica, "Segoe UI", sans-serif;

$base-unit: 0.9px;
$input-padding-left-right: 20 * $base-unit;
$input-padding-top-bottom: 5 * $base-unit;
$input-padding: $input-padding-top-bottom $input-padding-left-right;
$border-radius: 5 * $base-unit;
$notify-width: 500 * $base-unit;

$tooltip-arrow-size: 15 * $base-unit;
$tooltip-width: 400 * $base-unit;

$font-size-default: 15px;
$font-size-header: 18px;
$font-size-title: 38px;
$font-size-small: 12px;
$font-size-smallest: 9px;
$font-size-page-title: 20px;

$font-weight-default: 400;
$font-weight-header: 700;
$font-weight-title: 400;
$font-weight-button: 700;
$font-weight-username: 700;

$font-color-default: $white;
$font-color-header: $gray;
$font-color-title: $gray;
$font-color-main: $gray;

$form-header-height: 50px;
$form-header-padding: 5px;

$form-width: 550 * $base-unit;
$form-padding: 10 * $base-unit;
$form-control-width: $form-width - $form-padding * 20;
$form-block-padding: 30 * $base-unit;
$form-control-height: 35 * $base-unit;
$form-control-margin: 2 * $base-unit;
$form-control-padding: 4 * $base-unit;

$layout-width: 1000 * $base-unit;
$layout-account-width: 250 * $base-unit;
$layout-logo-width: 200 * $base-unit;
$layout-header-height: 80 * $base-unit;
$layout-logo-border: 10 * $base-unit;
$layout-header-burger-size: 50 * $base-unit;
$layout-header-total-height: $layout-header-height + 2 * $layout-logo-border;
$layout-account-padding: 20 * $base-unit;
$layout-avatar-size: $layout-header-total-height - 2 * $layout-account-padding;

$page-content-padding: 35 * $base-unit;

$border-default: solid $very-light-gray 1 * $base-unit;


$small-handhelds: small-handhelds;
$handhelds: handhelds;
$tablets: tablets;
$desktop: desktop;
$max-small-handhelds: 500px;
$max-handhelds: 725px;
$min-desktop: 1025px;

@mixin respond-to($media) {
	@if $media == $small-handhelds {
		@media only screen and (max-width: $max-small-handhelds) { @content; }
	}
	@else if $media == $handhelds {
		@media only screen and (max-width: $max-handhelds) { @content; }
	}
	@else if $media == $tablets {
		@media only screen and (min-width: $max-handhelds + 1px) and (max-width: $min-desktop) { @content; }
	}
	@else if $media == $desktop {
		@media only screen and (min-width: $min-desktop + 1px) { @content; }
	}
}


@mixin placeholder() {
	&::-moz-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&:-moz-placeholder { @content; }
}


body {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;

	background-color: lighten($light, 2.5%);
	color: $font-color-default;

	font-family: $font-family-default;
	font-size: $font-size-default;
	font-weight: $font-weight-default;
}


.scrollable {
	overflow-y: scroll;
	touch-action: pan-y;
	box-sizing: border-box;
}


a {
	color: lighten($gray, 25%);
	text-decoration: underline;

	&:hover {
		text-decoration: none;
		color: $black;
	}
}
