body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f8;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

a {
  color: #9ca9b5;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: #343F4B; }

@media only screen and (max-width: 725px) {
  .layout-login {
    padding: 0 !important;
    margin: 0 !important; }
    .layout-login__outer {
      width: 100% !important;
      height: 100% !important;
      padding-left: 0 !important;
      padding-right: 0 !important; }
    .layout-login__content {
      padding-left: 18px;
      padding-right: 18px; } }
