body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f8;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

a {
  color: #9ca9b5;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: #343F4B; }

.button {
  margin: 1.8px;
  padding: 3.6px;
  height: 36px; }
  .button button {
    font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
    font-size: 15px;
    font-weight: 700;
    background-color: #5A6978;
    color: white;
    height: 100%;
    text-overflow: ellipsis;
    box-sizing: border-box;
    border: 0.9px solid #5A6978;
    border-radius: 4.5px;
    padding: 4.5px 18px;
    min-width: 315px; }
    .button button:hover {
      cursor: pointer;
      background-color: #44505b; }
    .button button:active {
      background-color: #343F4B; }
    .button button:focus {
      outline: none; }
    @media only screen and (max-width: 725px) {
      .button button {
        width: 100% !important; } }
