body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f8;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

a {
  color: #9ca9b5;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: #343F4B; }

.avatar {
  display: flex;
  align-items: center;
  justify-content: center; }
  .avatar__img {
    height: 54px;
    width: 54px;
    background-size: cover;
    background-position: center;
    border-radius: 50%; }
