body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f8;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

.layer-notify {
  position: fixed;
  overflow: hidden;
  z-index: 10000;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .layer-notify__box {
    position: fixed;
    pointer-events: auto;
    bottom: 20;
    left: 18px;
    z-index: 10002;
    background-color: #333333;
    padding: 3.6px;
    border-radius: 13.5px;
    width: 450px;
    transition: opacity 0.4s ease-in-out;
    opacity: 0; }
  .layer-notify__content {
    display: flex;
    flex-direction: row;
    border: 1.8px solid white;
    border-radius: 13.5px;
    font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: white;
    padding: 4.5px 18px;
    opacity: 0.7; }
  .layer-notify__text {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .layer-notify__action {
    text-align: right; }
    .layer-notify__action a {
      color: #EEEEEE; }
      .layer-notify__action a_hover {
        text-decoration: none;
        color: white; }
