@import "../../globals.scss";

$notify-padding: 4 * $base-unit;
$notify-bottom-initial: 20;
$notify-height: 50;


.layer-notify {
	position: fixed;
	overflow: hidden;
	z-index: $z-index-notify;
	pointer-events: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&__box {
		position: fixed;
		pointer-events: auto;
		bottom: $notify-bottom-initial;
		left: 20 * $base-unit;
		z-index: $z-index-notify-box;
		background-color: $dark-black;
		padding: $notify-padding;
		border-radius: 3 * $border-radius;
		width: $notify-width;
		transition: opacity 0.4s ease-in-out;
		opacity: 0;
	}

	&__content {
		display: flex;
		flex-direction: row;
		border: 0.5 * $notify-padding solid $white;
		border-radius: 3 * $border-radius;
		font-family: $font-family-default;
		font-size: $font-size-default;
		font-weight: $font-weight-button;
		color: $white;
		padding: $input-padding;
		opacity: $opacity-notify-box;
	}

	&__text {
		flex: 1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__action {
		text-align: right;

		a {
			color: $light-gray;

			&_hover {
				text-decoration: none;
				color: $white;
			}
		}
	}
}
